@charset "UTF-8";

/*FONTES*/
@font-face {
    font-family:'Montserrat-Bold';
    src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
    font-family:'Montserrat-Regular';
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}

/* Reset de página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat-Regular', sans-serif;
    background-color: #BFD1E5;
}

.container-fluid {
    padding: 0;
}

.container {
    padding: 0;
}

.logoGameMania {
    width: 150px;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
