@charset "UTF-8";

/*FONTES*/
@font-face {
    font-family:'Montserrat-Bold';
    src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
    font-family:'Montserrat-Regular';
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}

/* Reset de página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat-Regular', sans-serif;
}

.container-fluid {
    padding: 0;
    background-color: #BFD1E5;
   
}
.container {
    padding: 0;
    

}

.logoGameMania {
    width: 100px;
}

header {
    border: 1px solid black;
    background-color: #BFD1E5;
}

.header-flex {
    display: flex;
    height: 100px;
    align-items: center;
}

.header-left-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pesquisa{
    margin-bottom: 10px;
}

.barraPesquisa{
    border-radius: 5px;
    border: none;
}

.header-right-center {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn-cadastre {
    margin-bottom: 10px;
}

.header-right {
    align-self: flex-start;
    padding-top: 10px;
    padding-left: 10px;
}

.navbar {
    background-color: #232528;
    
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    background-color: #232528;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: gray
}

.card-background {
    background-color: #BFD1E5;
}

.card-flex {
    display: flex;

}

.card {
    background-color: white;
    margin: 10px;
}

.card-img {
    width: 200px;
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-weight: bold;
}

.btn-comprar {
    border: none;
    padding: 6px 45px;
    text-transform: uppercase;
    font-weight: bold;
}
